body{
    background-color:#f4f7fe ;   
    font-family: Monsterrat;
}
nav {
    background-color:#f4f7fe ;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    height: 100px;
    width: 1074px;
    
  }
  .navbar{
    background-color:#f4f7fe ;
      padding-left: 15%;
      

  }

.btn {
    min-width: 100px;
    background-color:blue;
    color:white;
}
.container{
    background-color:#f4f7fe ;
    position: relative;
}
.nav-item{
    margin-left: 20px;
    padding-right: 21px;
    float:center;
    color: black;
}
.card-group{
    width: 100%;
    position: relative;
}
.modal-footer{
    padding-right:123px;
    background-color: #f4f7fe;
    
}
.svg-logo{
    padding-left: 55px;
    padding-right: 13px;
}
.sub-menu{
    padding-left: 63px;
    padding-right: 41px;
}
.text-muted{
    text-decoration: none;
}
.bd-footer-links{
   margin-right: 92px;
    padding-top: 2%;
    padding-right: 92px;
    text-decoration: none;
    background-color: #f4f7fe;
}

